:root {
  --primary-color: #f9f7fe;
  --secondary-color: #878787;
  --tertiary-color: #27214266;
  --quaternary-color: #885df1;
  --box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

#body {
  background-color: var(--primary-color);
}

.App {
  background-color: #fff;
  max-width: 800px;
  margin: 40px auto;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}
